In [1]:
import os
import pandas as pd

In [4]:
def explore_data(folder_path):
    data = []
    for file_name in os.listdir(folder_path):
        file_path = os.path.join(folder_path, file_name)
        df = pd.read_csv(file_path)    
        data.append(df)
    return data

In [8]:
folder_path = 'dataset'

ios, android = explore_data(folder_path=folder_path)

print(f'Ios dataset:\nTotal rows: {len(ios)}, Total columns: {len(ios.columns)}')
print(f'Android dataset:\nTotal rows: {len(android)}, Total columns: {len(android.columns)}')

Ios dataset:
Total rows: 7197, Total columns: 16
Android dataset:
Total rows: 10841, Total columns: 13

## **Data Preprocessing**

### Removing inaccurate data

The Google Play data set has a dedicated discussion section, and one of the discussions outlines an error for row 10472.

In [9]:
print(android.iloc[10472])

App               Life Made WI-Fi Touchscreen Photo Frame
Category                                              1.9
Rating                                               19.0
Reviews                                              3.0M
Size                                               1,000+
Installs                                             Free
Type                                                    0
Price                                            Everyone
Content Rating                                        NaN
Genres                                  February 11, 2018
Last Updated                                       1.0.19
Current Ver                                    4.0 and up
Android Ver                                           NaN
Name: 10472, dtype: object

We can see that row 10472 have a mistake in two columns:
- `Category`: it must be a string.
- `Rating`: the range of this value is within $[0, 5]$, so it cannot be $4.1$.

We don't know the correct information, so we'll delete this row.

In [60]:
android = android.drop(index=10472)
print(len(android))

10840

### Removing duplicate app entries

After receiving [feedback](https://www.kaggle.com/datasets/lava18/google-play-store-apps/discussion) from Google Play users, they noticed that some apps has duplicate entries.

For example, let's see how many entries the Instagram app has:

In [19]:
instagram_android = android[android.iloc[:,0] == 'Instagram']
instagram_android

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
2545,Instagram,SOCIAL,4.5,66577313,Varies with device,"1,000,000,000+",Free,0,Teen,Social,"July 31, 2018",Varies with device,Varies with device
2604,Instagram,SOCIAL,4.5,66577446,Varies with device,"1,000,000,000+",Free,0,Teen,Social,"July 31, 2018",Varies with device,Varies with device
2611,Instagram,SOCIAL,4.5,66577313,Varies with device,"1,000,000,000+",Free,0,Teen,Social,"July 31, 2018",Varies with device,Varies with device
3909,Instagram,SOCIAL,4.5,66509917,Varies with device,"1,000,000,000+",Free,0,Teen,Social,"July 31, 2018",Varies with device,Varies with device

Check out the number of similar cases in the Android dataset:

In [26]:
duplicate_apps, unique_apps = [], []

[duplicate_apps.append(name) if name in unique_apps else unique_apps.append(name) for name in android.iloc[:,0]]

print('Number of duplicate apps:', len(duplicate_apps))

Number of duplicate apps: 1181

To build android dataset with distinct app, we will create a dictionary, where each key is a unique app name and the corresponding dictionary value is the **highest number** of reviews of that app.

In [68]:
reviews_max = {}

for app in range(len(android)):

    name = android.iloc[app, 0]
    n_reviews = float(android.iloc[app, 3])

    if (name in reviews_max) and (reviews_max[name] < n_reviews):
        reviews_max[name] = n_reviews

    elif name not in reviews_max:
        reviews_max[name] = n_reviews

print(len(reviews_max))

9659

Comparing our result with the expected length:

In [69]:
len(reviews_max) == (len(android) - 1181)

True

Now, let's use the `reviews_max` dictionary to remove the duplicates.

In [70]:
android_cleaned, already_added = [], []

for app in range(len(android)):
    name = android.iloc[app, 0]
    n_reviews = float(android.iloc[app, 3])
    
    if (reviews_max[name] == n_reviews) and (name not in already_added):
        android_cleaned.append(android.iloc[app, :])
        already_added.append(name)

In [72]:
len(android_cleaned)

9659

<br>

Because App Store data has no duplicates, so we go to the next step.

In [73]:
print(ios.duplicated(keep=False).sum())

0

### Removing Non-English apps

To make the dataset more personalized and relevant to the needs of companies, we will build a dataset containing only apps with English names.

The numbers corresponding to the English characties are all in the range 0 to 127, according to the ASCII (American Standard Code for Information Interchange) system.

However, it is easy to see exceptional cases. Due to the ASCII number range, our function cannot recognize English names containing special characters.

Therefore, to minimize the impact of data loss, we set a threshold before deleting any app. After consulting a number of apps in both mobile stores, we chose `threshold = 3`, which means we only delete an app if it has more than 3 non-ASCII characters.

In [103]:
def is_english(string):
    non_ascii = 0

    for letters in string:
        if ord(letters) > 127:
            non_ascii += 1
    
    if non_ascii > 3:
        return False
    else:
        return True

In [104]:
english_android, english_ios = [], []

for app in android_cleaned:
    name = app[0]
    if is_english(name):
        english_android.append(app)

for app in range(len(ios)):
    name = ios.iloc[app, 1]
    if is_english(name):
        english_ios.append(ios.iloc[app])     

print(len(english_ios), len(english_android))

/tmp/ipykernel_44022/1342614544.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  name = app[0]

6183 9614

### Isolating the free apps

In [118]:
# Check data types of price column

print(f'ios: {pd.DataFrame(english_ios)['price'].dtypes}')
print(f'android: {pd.DataFrame(english_android)['Price'].dtypes}')

ios: float64
android: object

In [123]:
final_ios, final_addroid = [], []

for app in english_ios:
    price = app[4]
    if price == 0.0:
        final_ios.append(app)

for app in english_android:
    price = app[7]
    if price == '0':
        final_addroid.append(app)

print(len(final_ios), len(final_addroid))

/tmp/ipykernel_44022/156895091.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  price = app[4]
/tmp/ipykernel_44022/156895091.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  price = app[7]

3222 8864

## **Classify the most common apps by genre**

Our goal is to identify the type of app that is likely to attract more users, which will increase our revenue.

In my country, Android is more accessible to many people in many different jobs than IOS. Therefore, our validation strategy for app ideas has three steps, first building on Android and then IOS:
1. First, we build a minimal Android version of the app, then add it to Google Play.
2. If we get a lot of positive feedback from users, we will develop it further.
3. If the app is profitable after six months, we will build an IOS version and add it to the App Store.